In [1]:
5+5

10

In [5]:
a="virat"
count=0
for i in a:
    count=count+1
print(count)

5

In [7]:
a="virat"
for i in a:
 print(i)

v
i
r
a
t

In [11]:
name=input("enter the name")
for i in range(len(name)):
    for j in range(0,i+1):
        print(name[i],end=" ")
    print()

enter the namevirat
v
i i
r r r
a a a a
t t t t t

In [9]:
rec={}
n=int(input("enter the number of students"))
i=1
while i<=n:
    name=input("enter students name")
    marks=input("enter % marks of students")
    rec[name]=marks
    i+=1
print("name of the stdent","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

enter the number of students2
enter students nameshillu
enter % marks of students88
enter students nameshif
enter % marks of students68
name of the stdent 	 % of marks
	 shillu 		 88
	 shif 		 68

In [13]:
word=input("enter any word")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in d.items():
  print(k,"ccures",v,"times")

enter any wordshifali
s ccures 1 times
h ccures 1 times
i ccures 2 times
f ccures 1 times
a ccures 1 times
l ccures 1 times

In [15]:
word=input("enter any word")
d={}
vowels={'a','e','i','o','u'}
for x in word:
    if x in vowels:
        d[x]=d.get(x,0)+1
for k,v in d.items():
  print(k,"ccures",v,"times")

enter any wordshifali
i ccures 2 times
a ccures 1 times

In [16]:
squares={x:x*x for x in range(1,6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
n=[1,2,3,4,5,5,5,5]
print(n.count(5))

4

In [19]:
n=[1,2,3,4,5]
n.insert(1,888)
print(n)

[1, 888, 2, 3, 4, 5]

In [20]:
n=[1,2,3,"hello"]
m=[4,5,6,"India"]
n.extend(m)
print(n)

[1, 2, 3, 'hello', 4, 5, 6, 'India']

### remove function

In [22]:
n=[1,2,3,4,5]
n.pop(2)
print(n)

[1, 2, 4, 5]

In [29]:
n=["aishu","sneha","rosh","sangi","swathi"]
n.sort()
print(n)

['aishu', 'rosh', 'sangi', 'sneha', 'swathi']

In [30]:
n=["aishu","sneha","rosh","sangi","swathi"]
n.sort(reverse=True)
print(n)

['swathi', 'sneha', 'sangi', 'rosh', 'aishu']

In [31]:
x=[10,20,30,40]
y=x[:]
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [32]:
x=[10,20,30,40]
y=x
y[1]=777
print(x)
print(y)

[10, 777, 30, 40]
[10, 777, 30, 40]

In [33]:
x=[10,20,30,40]
y=x.copy()
y[1]=777
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [34]:
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)
x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [35]:
x=["MITE","Mangalore","NITTE"]
y=["MITE","Mangalore","NITTE"]
x==y
x!=y
z=["MITE","Mangalore","NITTE"]
x==z

True

In [39]:
m=[10,20,30,40,[50,60,70]]
m[3]
m[4][1]

60

In [40]:
m.clear()

In [41]:
n=[1,2,3,4]
print(4 in n)

True

In [42]:
s=[2**x for x in range(1,6)]
print(s)

[2, 4, 8, 16, 32]

In [46]:
5+5

10

In [47]:
def times2(var):
    return var*2

In [48]:
seq=[1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [50]:
seq=[1,2,3,4,5]
lambda var:var*2
list(map(lambda var:times2,seq))
list(filter(lambda item:item%2==0,seq))

[2, 4]

In [54]:
import numpy as np

my_list=[1,2,3]
my_list
np.array(my_list)

array([1, 2, 3])

In [55]:
my_matrix=[[1,2,3],[4,5,6],[7,8,9]]
my_matrix
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [56]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [58]:
np.zeros(3)

array([0., 0., 0.])

In [59]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [63]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

In [65]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [66]:
np.random.rand(2)

array([0.70363956, 0.22014024])

In [67]:
np.random.rand(5,5)

array([[0.12474033, 0.55060438, 0.05260433, 0.41207314, 0.75518408],
       [0.35591171, 0.16593764, 0.23941087, 0.46824128, 0.55038544],
       [0.56485641, 0.96465553, 0.88405935, 0.04453118, 0.30397063],
       [0.69161158, 0.5062305 , 0.53062912, 0.83824127, 0.22580169],
       [0.40357665, 0.87815118, 0.96578242, 0.45386915, 0.32625262]])

In [68]:
np.random.randn(5,5)

array([[ 0.10238972, -2.32099968,  1.88203254,  0.19397107, -0.50743621],
       [-0.94761687,  0.24273516,  0.08379898,  1.1478325 ,  1.74076898],
       [-1.44904748,  0.77361493,  0.79060148,  0.57247963, -0.51788521],
       [-0.51080273,  1.00122617,  0.47865384,  1.05386081, -0.68959968],
       [ 1.19299922,  0.92209009, -0.79836394, -0.09102058, -2.00218284]])

In [69]:
np.random.randint(1,100,10)

array([62, 30, 75, 36, 80, 13, 26, 12, 41, 79])

In [70]:
np.random.randint(1,200,10)

array([ 39,  32,  74, 164,  68,  89, 124,  43,  78, 159])

In [71]:
arr=np.arange(25)
runarr=np.random.randint(0,50,10)

In [72]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [73]:
runarr.argmax()

0

In [74]:
runarr.argmin()

8

In [75]:
runarr.min()

5

In [76]:
runarr.max()

30

In [77]:
arr.shape

(25,)

In [78]:
arr.reshape(1,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [79]:
arr.reshape(1,25).shape

(1, 25)

In [80]:
arr.reshape(25,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24]])

In [81]:
arr.reshape(25,1).shape

(25, 1)

In [82]:
arr.dtype

dtype('int32')

In [83]:
arr=np.arange(0,10)

In [84]:
arr+arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [85]:
arr-arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [86]:
arr/arr

E:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [87]:
arr*arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [88]:
1/arr

E:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [89]:
arr**3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [90]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [91]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [92]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [93]:
np.log(arr)

E:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [94]:
arr=np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [95]:
arr[8]

8

In [96]:
arr[1:5]

array([1, 2, 3, 4])

In [97]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [98]:
arr[0:5]=100

In [99]:
arr=np.arange(0,11)

In [100]:
arr>4

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [101]:
arr[arr>4]

array([ 5,  6,  7,  8,  9, 10])

In [102]:
import numpy as np

In [103]:
np.zeros(12)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [105]:
np.ones(15)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

AttributeError: module 'numpy' has no attribute 'tens'

In [109]:
np.arange(10,18,2)

array([10, 12, 14, 16])

In [110]:
my_matrix=[[0,1,2],[3,4,5],[6,7,8]]
my_matrix
np.array(my_matrix)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [111]:
np.random.randn(5,5)

array([[ 0.06054062, -0.95867228,  2.33740608,  0.18760837,  1.12414524],
       [ 0.26798262,  0.58739863, -0.11695903,  1.02390502, -1.26422843],
       [ 0.03355064, -1.05615447, -0.77453732,  0.89423439,  0.50652221],
       [ 2.02276566,  0.66385663,  0.92736378,  1.45433813,  0.00664878],
       [ 0.86334192, -0.99053356,  0.02700394, -1.9711999 ,  0.70597981]])

In [112]:
my_matrix=[[13,14,15,16,17],[18,19,20,21,22],[23,24,25,26,27],[28,29,30,31,32],[33,34,35,36,37]]

In [113]:
5*np.ones(10)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [1]:
import numpy as np
import pandas as pd

In [3]:
lists=['a','b','c']
my_array=[10,20,30]
pd.Series(data=my_array)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_array,index=lists)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_array,lists)

a    10
b    20
c    30
dtype: int64

In [7]:
d={'a':10,'b':20,'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series([sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [9]:
label=['usa','Russia','India','England']
my_array=[1,2,3,4]
pd.Series(data=my_array,index=label)

usa        1
Russia     2
India      3
England    4
dtype: int64

In [10]:
sr1={'usa':1,'Russia':2,'India':3,'England':4}
pd.Series(sr1)

usa        1
Russia     2
India      3
England    4
dtype: int64

In [11]:
sr2={'usa':1,'Russia':2,'ucrain':3,'England':4}
pd.Series(sr2)

usa        1
Russia     2
ucrain     3
England    4
dtype: int64

In [12]:
sr2=pd.Series([sum,len,print])

In [13]:
[sr1]+[sr2]

[{'usa': 1, 'Russia': 2, 'India': 3, 'England': 4},
 0      <built-in function sum>
 1      <built-in function len>
 2    <built-in function print>
 dtype: object]

In [14]:
777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777

7777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777

In [17]:
from numpy.random import randn
np.random.seed(101)

In [19]:
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [20]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [21]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [22]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [24]:
type(df['W'])

pandas.core.series.Series

In [26]:
df['new']=df['W']+df['Y']

In [27]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [28]:
df.drop('new',axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [29]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [30]:
df.drop('new',axis=1,inplace=True)

In [31]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [32]:
df.drop('E',axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [33]:
df.loc['A']

W    0.302665
X    1.693723
Y   -1.706086
Z   -1.159119
Name: A, dtype: float64

In [34]:
df.iloc[2]

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [35]:
df.loc['B','Y']

0.16690463609281317

In [36]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

In [37]:
df>0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [38]:
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [39]:
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [40]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [43]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

In [44]:
df[(df['W']>0)&(df['Y']>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [45]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [46]:
newind='CA NY WY OR CO'.split()

In [48]:
df['states']=newind

In [49]:
df

          W         X         Y         Z states
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [50]:
df.set_index('states')

               W         X         Y         Z
states
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [51]:
df.set_index('states',inplace=True)

In [52]:
df

               W         X         Y         Z
states
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [53]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [54]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [55]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [56]:
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [57]:
df.loc['G1']

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [58]:
df.index.names

FrozenList([None, None])

In [59]:
df.index.names=['Group','Num']

In [60]:
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419

In [61]:
df.xs('G1')

            A         B
Num
1   -0.993263  0.196800
2   -1.136645  0.000366
3    1.025984 -0.156598

In [62]:
df.xs(['G1',1])

A   -0.993263
B    0.196800
Name: (G1, 1), dtype: float64

In [63]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.993263  0.196800
G2    -0.031579  0.649826

In [8]:
df.dropna(thresh=2)

NameError: name 'df' is not defined

In [9]:
df.dropna()

NameError: name 'df' is not defined

In [10]:
df['A'].fillna(value=df['A'].mean())

NameError: name 'df' is not defined

In [11]:
df

NameError: name 'df' is not defined

In [12]:
df=pd.read_csv('example')
df

NameError: name 'pd' is not defined

In [13]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

NameError: name 'pd' is not defined

In [14]:
import numpy as np
import pandas as pd

In [15]:
label=['usa','Russia','India','England']
my_array=[1,2,3,4]
pd.Series(data=my_array,index=label)

usa        1
Russia     2
India      3
England    4
dtype: int64

In [16]:
sr1={'usa':1,'Russia':2,'India':3,'England':4}
pd.Series(sr1)

usa        1
Russia     2
India      3
England    4
dtype: int64

In [17]:
sr2={'usa':1,'Russia':2,'ucrain':3,'England':4}
pd.Series(sr2)

usa        1
Russia     2
ucrain     3
England    4
dtype: int64

In [18]:
sr2=pd.Series([sum,len,print])

In [19]:
[sr1]+[sr2]

[{'usa': 1, 'Russia': 2, 'India': 3, 'England': 4},
 0      <built-in function sum>
 1      <built-in function len>
 2    <built-in function print>
 dtype: object]

In [20]:
import pandas as pd

In [21]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [22]:
df['col2'].nunique()

3

In [23]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [24]:
newdf=df[(df['col1']>2)&(df['col2']==444)]

In [25]:
newdf

   col1  col2 col3
3     4   444  xyz

In [26]:
def times2(x):
    return x*2

In [27]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [28]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [29]:
del df['col1']

In [30]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [31]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [32]:
df.sort_values(by='col2')

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

In [33]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [34]:
import pandas as pd

In [37]:
data={'company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],'person':['sam','charlie','amy','vanesa','charle','sarah'],'sales':[200,120,340,124,243,350]}
df=pd.DataFrame(data)

In [38]:
y_comp.mean()

NameError: name 'try_comp' is not defined

In [42]:
by_comp=df.groupby('company').mean()

In [43]:
by_comp.std()

sales    68.284332
dtype: float64

In [44]:
by_comp.max()

sales    296.5
dtype: float64

In [45]:
by_comp.describe()

            sales
count    3.000000
mean   229.500000
std     68.284332
min    160.000000
25%    196.000000
50%    232.000000
75%    264.250000
max    296.500000

In [47]:
by_comp.describe().transpose()

       count   mean        std    min    25%    50%     75%    max
sales    3.0  229.5  68.284332  160.0  196.0  232.0  264.25  296.5

In [48]:
by_comp.describe().transpose()['GOOG']

KeyError: 'GOOG'